*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    main{

      .form{
            text-align: center;
        .title h2{
            margin: 30px;
            text-align: center;
        }

      }
    }
}